MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=

OPENSEARCH_SCHEME=
OPENSEARCH_HOST=
OPENSEARCH_PORT=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=

SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
SENTRY_DSN=

# OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# JWT Configuration
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=
JWT_ISSUER=

# Registry Configuration
REGISTRY_URL=

# Frontend Configuration
FRONTEND_BASE_URL=
FRONTEND_DEVELOP_URL=

# NCP Configuration
NCP_ACCESS_KEY=
NCP_SECRET_KEY=
NCP_BUCKET_NAME=
