MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DATABASE=

OPENSEARCH_SCHEME=
OPENSEARCH_HOST=
OPENSEARCH_PORT=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=

SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
SENTRY_DSN=